<div class="row-fluid">
	<div class="span10 offset1">
		<h1>Welcome to LifeChoiceMeals</h1>
		<p class="lead text-left">A complete line of frozen meals, delivered to homes and specifically designed for people with heart conditions, diabetes and pre/post bariatric surgery.</p>
	</div>
</div>

<div class="row-fluid">
	<div class="offset3">
		<div id="slider-code">

    		<a class="buttons prev" href="#">left</a>

    		<div class="viewport">
        		<ul class="overview">
            		<li>Picture 1</li>
            		<li>Picture 2</li>
            		<li>Picture 3</li>
        		</ul>
    		</div>

    		<a class="buttons next" href="#">right</a>

    		<ul class="pager">
        		<li><a rel="0" class="pagenum" href="#">1</a></li>
        		<li><a rel="1" class="pagenum" href="#">2</a></li>
        		<li><a rel="2" class="pagenum" href="#">3</a></li>
    		</ul>

		</div>
	</div>	
</div>

<div class="row-fluid">
	<div class="span10 offset1">
		<p class="text-left">Obesity has reached epidemic proportion in the U.S. Our research has found that one of the primary complaints from most of these individuals is they don't know how or are unable to prepare the meals or diet prescribed by their doctors. Life Choice Meals plans to alleviate this problem by supplying dietary specific meals chosen by the individuals, 
		to be delivered to thier homes for consumption.</p>
	</div>	
</div>